*{
  margin: auto;
  padding: 3px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cuadro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.cuadro a{
 text-decoration: none;
}
